<div class="chartFooter">
    <form class="chat_message_form">
        <div class="chartFooterForm">
            <input type="text" placeholder="Type your message here" class="message_form__input" />
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
    </form>
</div>