<div class="chatHeader">
    <div class="chatHeaderContact">
        <div class="pic"><img src="https://res.cloudinary.com/dl6g3t9xf/image/upload/v1560253104/anonymous_dtyujt.png" /></div>
        <div>
            <div class="name chat_user_name">
                Anonymous
              </div>
              <div class="seen chat_user_time">
                Today at 12:56
            </div>
        </div>
    </div>
    <div class="chatHeaderSettings">
        <button type="button" class="dropdown_toggle" data-toggle="dropdownHeader"><i class="fas fa-ellipsis-v fa-2x dropdown_toggle_icon"></i></button>
        <div class="chatHeaderSettingsDropdown" id="dropdownHeader">
            <button type="button" class="open-modal" data-open="usernameModal">Change Username</button>
            <button type="button" class="open-modal" data-open="settingsModal">Settings</button>
        </div>
    </div>
</div>