<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Simple chat application</title>
</head>
<body>
    <div class="container">
        <%- include('./partials/header')-%>
        <div class="chatBody">
            <div class="chatBodyMessages">
                <div class="chatBodyMessagesHistory"></div>
                <div class="user_typing"></div>
            </div>
        </div>
        <%- include('./partials/footer')-%>
    </div>

    <%- include('./utils/settingsModal')-%>
    <%- include('./utils/usernameModal')-%>
</body>
<script src="scripts/socket/socket.io.js"></script>
<script src="scripts/jquery/jquery-latest.min.js"></script>
<script src="scripts/libs.js"></script>
<script src="scripts/chat.js"></script>
<script src="scripts/modal.js"></script>
</html>