<div class="modal" id="usernameModal">
    <div class="modal-dialog">
    <header class="modal-header">
        <h6>Change Username</h6>
        <button class="close-modal" aria-label="close modal" data-close>✕</button>
    </header>
    <section class="modal-content">
        <form class="change_username_form">
            <div class="form-group">
                <label>New username</label>
                <input class="form-control username_input" type="text" name="username" placeholder="Enter a new username" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default btn-rounded">Change</button>
            </div>
        </form>
    </section>
    </div>
</div>